<form action="btoa">
  <textarea name="q"></textarea>
  <button>Search</button>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Aspects</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
      {{> PokeTR}}
    {{/each}}
  </tbody>
</table>

<script src="/script/submitBtoa.js"></script>
<script src="/script/loadBtoa.js"></script>